.game-board {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100vw;
}

.board {
  align-items: center;
  background-color: '#eee';
  border: 3px #eee solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 208px;
}

.instructions {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
}

.button {
  background-color: '#8acaca';
  color: white;
  font-size: 16px;
  height: 40px;
  margin-bottom: 16px;
  margin-top: 15px;
  width: 80px;
}

.board-row {
  display: flex;
}

.game-end-message {
  bottom: 250px;
  color: red;
  position: absolute;
}
