.wrapper {
  align-items: center;
  background-color: #ddd;
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  height: 60px;
  justify-content: center;
  margin: 4px;
  width: 60px;
}
